<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{{title}}</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/frontend/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="/frontend/jsonview/jsonview.css" />
    <link rel="stylesheet" href="/frontend/editormd/editormd.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <script src="/frontend/jquery/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/frontend/bootstrap/bootstrap.js"></script>
   
    <script src="/frontend/jsonview/jquery.jsonview.js"></script>

   
    <script src="/frontend/editormd/editormd.min.js"></script>
    <script src="/frontend/editormd/editormd.prettyify.js"></script>
    <script src="/frontend/editormd/marked.min.js"></script>
    <script src="/frontend/bootbox/bootbox.min.js"></script>

</head>

<body>
    <div style="margin:20px auto;width:80%;">
        <div style="padding-top: 1px">
            {{BODY}}
        </div>
    </div>

</body>
<style>
    .markdown-body img {
        display: block;
        margin: 10px auto;
        border-style: groove;
        border: 1px solid gray;
        width: 40%;
        height: 40%;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        // 上传图片
        document.getElementById('editor').addEventListener('paste', function (e) {
            if (!(e.clipboardData && e.clipboardData.items)) {
                return;
            }
            if (window.Editor == undefined) {
                return
            }
            for (var i = 0, len = e.clipboardData.items.length; i < len; i++) {
                var item = e.clipboardData.items[i];
                console.log(item);
                if (item.kind === "file") {
                    var blob = item.getAsFile();
                    if (blob.size === 0) {
                        return;
                    }
                    var data = new FormData();
                    data.append("file", blob);
                    $.ajax({
                        url: "/api/object/upload",
                        type: 'POST',
                        cache: false,
                        data: data,
                        processData: false,
                        contentType: false,
                        success: function (result) {
                            if (result.code == 0) {
                                window.Editor.insertValue('\n![](/image/' + result.data.id + ')\n')
                            }
                        }
                    });
                }
            }
        });
    })
</script>

</html>