<button class="btn btn-primary btn-sm" id="addlink" role="button">新增</button>
<button class="btn btn-danger btn-sm" id="edit-link">修改</button>
<hr />
{% for l in data %}
<div class="panel panel-default">
    <div class="panel-heading">{{l.tag}}</div>
    <div class="panel-body">
        <div class="row">
            {% for xx in l.list %}
            <div class="col-md-3" style="font-size: 16px;">
                <a target="_blank" href="{{ xx.content }}" style="text-decoration: none;">{{ xx.title }}</a>
            </div>
            {% endfor %}
        </div>
    </div>


</div>
{% endfor %}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">新建标签</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">标题</label>
                        <input type="text" class="form-control" id="title">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">地址</label>
                        <textarea class="form-control" id="content"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">标签</label>
                        <input type="text" class="form-control" id="tag">
                        {% for l in data %}
                        <label class="radio-inline">
                            <input type="radio" name="tag-radio" value="{{l.tag}}" class="quick-tag">{{l.tag}}
                        </label>
                        {% endfor %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="confirm-add-link">确认</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-linke-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">修改标签</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6" style="overflow-y: scroll;height: 500px;">
                        <p><strong>选择链接</strong></p>
                        <hr />
                        {% for l in data %}
                        <div class="panel panel-default" style="padding: 3px;">
                            <p>{{l.tag}}</p>
                            <div class="btn-group" role="group" aria-label="...">
                                {% for xx in l.list %}
                                <button data-id={{xx.id}} data-title="{{xx.title}}" data-content="{{xx.content}}"
                                    data-tag="{{xx.tag}}" class="to-edit-link">{{ xx.title }}</button>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <div class="col-md-6">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">标题</label>
                                <input type="text" class="form-control" id="edit-title">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="control-label">地址</label>
                                <textarea class="form-control" id="edit-content"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">标签</label>
                                <input type="text" class="form-control" id="edit-tag">
                                {% for l in data %}
                                <label class="radio-inline">
                                    <input type="radio" name="tag-radio" value="{{l.tag}}" class="quick-tag">{{l.tag}}
                                </label>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-sm" id="confirm-edit-link">修改</button>
                            </div>

                            <input id="edit-id" type="hidden">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script text="text/javascript">
    $(document).ready(function () {
        $.getUrlParam = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }

        if ($.getUrlParam('action') == 'edit') {
            $('#edit-linke-modal').modal('show')
        }

        $('#addlink').click(function () {
            $('#exampleModal').modal('show')
        })
        $('#edit-link').click(function () {
            $('#edit-linke-modal').modal('show')
        })
        $('#confirm-add-link').click(function () {
            let data = { title: $('#title').val(), content: $('#content').val(), tag: $('#tag').val(), type: 'link' }
            $.ajax({
                method: 'post',
                url: '/api/object/update',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (result) {
                    if (result.code == 0) {
                        window.location.reload()
                    }
                }
            })
        })
        $('.quick-tag').change(function () {
            $('#tag').val($(this).val())
            $('#edit-tag').val($(this).val())
        })
        $('.to-edit-link').click(function () {
            $('#edit-id').val($(this).data("id"))
            $('#edit-title').val($(this).data("title"))
            $('#edit-content').val($(this).data("content"))
            $('#edit-tag').val($(this).data("tag"))
        })
        $('#confirm-edit-link').click(function () {
            let data = { id: parseInt($('#edit-id').val()), title: $('#edit-title').val(), content: $('#edit-content').val(), tag: $('#edit-tag').val(), type: 'link' }
            $.ajax({
                method: 'post',
                url: '/api/object/update',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (result) {
                    if (result.code == 0) {
                        alert('修改成功')
                    }
                }
            })
        })

    })
</script>