<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{[{.title}]}</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/public/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="/public/jsonview/jsonview.css" />
    <link rel="stylesheet" href="/public/editormd/editormd.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <script src="/public/jquery/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/public/bootstrap/bootstrap.js"></script>
    <script src="/public/jsonview/jquery.jsonview.js"></script>
    <script src="/public/editormd/editormd.min.js"></script>
    <script src="/public/editormd/editormd.prettyify.js"></script>
    <script src="/public/editormd/marked.min.js"></script>
    <script src="/public/bootbox/bootbox.min.js"></script>
    <script src="/public/axios/axios.min.js"></script>
    <script src="/public/vue/3.2.36/vue.global.js"></script>
    <script src="/public/dayjs/dayjs.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid" style="padding: 0 7.5%;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar">sss</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/markdown/list">文档列表</a></li>
                    <li><a href="/markdown/create">新建</a></li>
                    <li><a href="/database/exec">数据库表管理</a></li>
                    <li><a href="/json/edit">JSON编辑</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script type="text/javascript">
        window.__JS_DATA__ = {[{.data }]}
        function getAPIData(key, value) {
            if(window.__JS_DATA__.api_data[key] == undefined){
                return value
            }
            return window.__JS_DATA__.api_data[key]
        }
    </script>
    <div style="margin:0px auto;width:90%;">
        <div style="padding-top: 1px">
            {[{ yield }]}
        </div>
    </div>

</body>
<style>
    .markdown-body img {
        display: block;
        margin: 10px auto;
        border-style: groove;
        border: 1px solid gray;
        width: 40%;
        height: 40%;
    }

    body {
        padding-top: 70px;
    }
</style>

</html>