<div style="margin-bottom:20px; text-align: center;">
    <h3 class="text-danger"><strong>{{data.object.title}}</strong></h3>
</div>

<div class="panel panel-default">
    <div class="panel-body">
    <div id="markdown-view" style="margin-top: 20px;">
        <textarea style="display:none;">{{data.object.content}}</textarea>
    </div>
    </div>
</div>
<div style="margin: 20px auto; text-align: center;">
    <button type="button" class="btn btn-danger" id="delete-id">删除</button>
    <a class="btn btn-primary" id="update-id" href="/page/{{page_type}}/edit?id={{data.object.id|stringformat:"%.f"}}">修改</a>
</div>
<input type="hidden" value="{{data.object.id|stringformat:" %.f"}}" id="id">
<input type="hidden" value="{{data.object.tag}}" id="tag">
<script text="text/javascript">
    $(document).ready(function () {
        editormd.markdownToHTML("markdown-view", {});

        $('#delete-id').click(function () {
            bootbox.confirm("确认要删除该文档？将无法恢复", function (result) {
                if (!result) {
                    return
                }
                let data = { id: parseInt($('#id').val()) }
                $.ajax({
                    method: 'post',
                    url: '/api/object/delete',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (result) {
                        if (result.code == 0) {
                            window.location.href = "/page/{{page_type}}/list?tag=" + $('#tag').val()
                        }
                    }
                })
            });
        })

    })

</script>