<div style="margin-bottom:20px; text-align: center;">
    <h3 class="text-danger"><strong>{{data.object.title}}</strong></h3>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div id="markdown-view" style="margin-top: 20px;">
            <textarea style="display:none;">{{data.object.content}}</textarea>
        </div>
    </div>
</div>
<div style="margin: 20px auto; text-align: center;">
    <button type="button" class="btn btn-danger" id="delete-id">删除</button>
    <a class="btn btn-primary" id="update-id" href="/page/{{page_type}}/edit?id={{data.object.id|stringformat:"%.f"}}">修改</a>
    <button type="button" class="btn btn-warning" id="share-id">分享</button>
</div>
<input type="hidden" value="{{data.object.id|stringformat:" %.f"}}" id="id">
<input type="hidden" value="{{data.object.tag}}" id="tag">
<script text="text/javascript">
    $(document).ready(function () {
        editormd.markdownToHTML("markdown-view", {});

        $('#delete-id').click(function () {
            bootbox.confirm("确认要删除该文档？将无法恢复", function (result) {
                if (!result) {
                    return
                }
                let data = { id: parseInt($('#id').val()) }
                $.ajax({
                    method: 'post',
                    url: '/api/object/delete',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (result) {
                        if (result.code == 0) {
                            window.location.href = "/page/{{page_type}}/list?tag=" + $('#tag').val()
                        }
                    }
                })
            });
        })
        //http://bootboxjs.com/v4.x/documentation.html#bb-prompt-dialog
        $('#share-id').click(function () {
            bootbox.prompt({
                title: "请选择分享时长",
                inputType: 'select',
                value : -1,
                inputOptions: [
                    {
                        text: '半小时',
                        value: 3600 * 0.5,
                    },
                    {
                        text: '3小时',
                        value: 3600 * 3,
                    },
                    {
                        text: '6小时',
                        value: 3600 * 6,
                    },
                    {
                        text: '12小时',
                        value: 3600 * 12,
                    },
                    {
                        text: '一天',
                        value: 3600 * 24,
                    },
                    {
                        text: '三天',
                        value: 3600 * 24 * 3,
                    },
                    {
                        text: '一周',
                        value: 3600 * 24 * 7,
                    },
                    {
                        text: '半个月',
                        value: 3600 * 24 * 15,
                    },
                    {
                        text: '永久',
                        value: -1
                    }
                ],
                callback: function (result) {
                    let data = { id: parseInt($('#id').val()), duration : parseInt(result)}
                    $.ajax({
                        method: 'post',
                        url: '/api/object/share',
                        contentType: 'application/json',
                        data: JSON.stringify(data),
                        success: function (result) {
                            if (result.code == 0) {
                                window.open(result.data.share_url, '_blank')
                            }
                        }
                    })
                }
            });

        })

    })

</script>