<form class="form-horizontal">
    <div class="form-group">
        <label for="title" class="col-sm-1 control-label">标签</label>
        <div class="col-sm-11">
            {% for t in data.tags %}
            <label class="radio-inline">
                <input type="radio" name="tag-radio" value="{{t}}" class="quick-tag" {% if(t==data.tag) %} checked {% endif %}>{{t}}
            </label>
            {% endfor %}
        </div>
    </div>
</form>

<ul class="list-group">
    {% for item in data.list %}
    <a class="list-group-item" href="/page/markdown/detail?id={{item.id|stringformat:"%.f"}}">
        <p class="title">{{ item.title}}</p>
        <p class="list-group-item-text">
            <span class="update-tip">更新于</span>
            <span class="time">{{ item.update_time}}</span>
        </p>
    </a>
    {% endfor %}
</ul>

<input type="hidden" value="{{data.tag}}" id="tag">
<input type="hidden" value="{{data.page}}" id="page">
<style>
    .title {
        font-size: 16px;
    }
    .update-tip {
        color: gray;
        display: inline-block;
        font-size: 12px;
    }
    .time {
        color: #666666;
        display: inline-block;
        margin-left: 1px;
        font-size: 15;
    }
</style>
<script text="text/javascript">
    $(document).ready(function () {
        $('.quick-tag').change(function () {
            window.location.href = '/page/markdown/list?tag=' + $(this).val() + '&page=' + $('#page').val()
        })
    })
</script>