<form class="form-horizontal">
    <div class="form-group">
        <label for="title" class="col-sm-1 control-label">语言</label>
        <div class="col-sm-5">
            {% for t in data.tags %}
            <label class="radio-inline">
                <input type="radio" name="tag-radio" value="{{t.value}}" class="quick-tag" {% if(t.value==data.tag) %} checked {% endif %}>{{t.text}}
            </label>
            {% endfor %}
        </div>
    </div>
</form>

<div class="panel panel-default">
    <div class="panel-body">
<div class="btn-group" role="group" aria-label="...">
    {% for item in data.list %}
    <a class="btn" href="/page/code/detail?id={{item.id|stringformat:"%.f"}}">{{ item.title }}</a>
    {% endfor %}
</div>
</div>
</div>

<input type="hidden" value="{{data.tag}}" id="tag">
<input type="hidden" value="{{data.page}}" id="page">

<script text="text/javascript">
    $(document).ready(function () {
        $('.quick-tag').change(function () {
            window.location.href = '/page/code/list?tag=' + $(this).val() + '&page=' + $('#page').val()
        })
    })
</script>